<h3>Please select your starting destination on the left!</h3>

Traffic in current conditions: <strong><%= @current_condition %></strong>
<br><br>
Traffic in normal conditions: <strong><%= @normal_condition %></strong>
