%h3
  %strong
    Please select your starting city on the left!

%p
  Quick way to figure out how long it will take to get to the major cities in the bay area in current road conditions. Times in green indicate faster travel times than normal, while times in red indicate a slower travel time. If there is a city in the bay area you would like to see on this list, please let me know!