<!DOCTYPE html>
<html>
<head>
  <title>TrafficEstimatorApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="medium-2 columns">
      <span class="label">Northern California</span>
      <ul class="circle">
        <li><a href="/cities/21">San Jose</a></li>
        <li><a href="/cities/22">San Francisco</a></li>
        <li><a href="/cities/23">Oakland</a></li>
        <li><a href="/cities/24">Fremont</a></li>
        <li><a href="/cities/25">Santa Rosa</a></li>
        <li><a href="/cities/26">Hayward</a></li>
        <li><a href="/cities/27">Sunnyvale</a></li>
        <li><a href="/cities/28">Concord</a></li>
        <li><a href="/cities/29">Santa Clara</a></li>
        <li><a href="/cities/30">Vallejo</a></li>
        <li><a href="/cities/31">Berkeley</a></li>
        <li><a href="/cities/32">Fairfield</a></li>
        <li><a href="/cities/33">Richmond</a></li>
        <li><a href="/cities/34">Antioch</a></li>
        <li><a href="/cities/35">Daly City</a></li>
      </ul>
    </div>
    <div class="medium-8 columns"><%= yield %></div>
    <div class="medium-2 columns">
      <h5>About Jee</h5>
      <h6><small>I suck at coding.</small></h6>
    </div>
  </div> <!-- ending row -->
</body>
</html>
