<!DOCTYPE html>
<html>
<head>
  <title>TrafficEstimatorApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="small-2 columns">
      <strong>Northern California</strong>
      <ul class="circle">
        <li><a href="/cities/21">San Jose</a></li>
        <li><a href="/cities/22">San Francisco</a></li>
        <li><a href="/cities/23">Oakland</a></li>
        <li><a href="/cities/24">Fremont</a></li>
        <li><a href="/cities/25">Santa Rosa</a></li>
        <li><a href="/cities/26">Hayward</a></li>
        <li><a href="/cities/27">Sunnyvale</a></li>
        <li><a href="/cities/28">Concord</a></li>
        <li><a href="/cities/29">Santa Clara</a></li>
        <li><a href="/cities/30">Vallejo</a></li>
        <li><a href="/cities/31">Berkeley</a></li>
        <li><a href="/cities/32">Fairfield</a></li>
        <li><a href="/cities/33">Richmond</a></li>
        <li><a href="/cities/34">Antioch</a></li>
        <li><a href="/cities/35">Daly City</a></li>
      </ul>
      <strong>Southern California</strong>
      <ul class="circle">
        <li><a href="/cities/">Los Angeles</a></li>
        <li><a href="/cities/">San Diego</a></li>
        <li><a href="/cities/">Long Beach</a></li>
        <li><a href="/cities/">Bakersfield</a></li>
        <li><a href="/cities/">Anaheim</a></li>
        <li><a href="/cities/">Santa Ana</a></li>
        <li><a href="/cities/">Riverside</a></li>
        <li><a href="/cities/">Chula Vista</a></li>
        <li><a href="/cities/">Irvine</a></li>
        <li><a href="/cities/">San Bernardino</a></li>
        <li><a href="/cities/">Oxnard</a></li>
        <li><a href="/cities/">Fontana</a></li>
        <li><a href="/cities/">Temecula</a></li>
      </ul>
    </div>
    <div class="small-8 columns"><%= yield %></div>
    <div class="small-2 columns">
      <h5>About Jee</h5>
      Just a man trying to make the world a better place and get better at code.
    </div>
  </div> <!-- ending row -->
</body>
</html>
