<!DOCTYPE html>
<html>
<head>
  <title>TrafficEstimatorApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="large-8 columns"><%= yield %></div>
    <div class="large-4 columns">
      <h2>About Jee</h2>
      Kitsch American Apparel selvage lo-fi scenester. Cornhole trust fund cray, single-origin coffee kitsch sustainable lomo plaid bitters aesthetic fap sartorial PBR. Polaroid typewriter cray, scenester 3 wolf moon authentic try-hard direct trade aesthetic occupy kitsch farm-to-table pour-over. Cray hella fingerstache, chillwave meh Bushwick farm-to-table tofu typewriter Helvetica bicycle rights church-key. Church-key McSweeney's lomo typewriter flexitarian sriracha. Occupy 3 wolf moon artisan drinking vinegar church-key, gastropub aesthetic YOLO Williamsburg letterpress High Life meggings wolf Wes Anderson lo-fi. Pork belly Carles raw denim kale chips tofu, single-origin coffee squid church-key disrupt sustainable Godard mustache selvage semiotics deep v.
    </div>
  </div> <!-- ending row -->
</body>
</html>
